@model VNPT_Review.Models.UOfficeReview

@if(Model.reviews.Count() > 0)
{
    @foreach (var item in Model.reviews)
    {
        <div class="container m-1">
            <small class="text-muted">#@Html.DisplayFor(model => item.Id)</small>
            
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> 
                        <img src="~/images/guest.png" width="30" class="user-img rounded-circle mr-2"> 
                        <small class="font-weight-bold text-primary ms-2">
                            NAMES HERE
                        </small> 
                    </div> 
                    <div class="icons align-items-center"> 
                        @{
                            var max = 5;
                            if(item.Rating == 0)
                            {
                                for(int i=0; i<max; i++)
                                {
                                    <i class="fas fa-star" style="color:#ffffff; text-shadow: 0 0 2px #000000"></i>
                                }
                            }
                            else 
                            {
                                int i;
                                for(i=0; i<item.Rating; i++)
                                {
                                    if(i >= item.Rating - 1 && item.Rating % 1 != 0)
                                    {
                                        <i class="fas fa-star-half" style="color:#fffc3d; text-shadow: 0 0 2px #000000"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-star" style="color:#fffc3d; text-shadow: 0 0 2px #000000"></i>
                                    }
                                }
                                while(i < max) 
                                {
                                    <i class="fas fa-star" style="color:#ffffff; text-shadow: 0 0 2px #000000"></i>
                                    i++;
                                }
                            }
                        }
                    </div>
                </div>
                <small class="d-flex mt-2 ms-5 font-weight-bold">
                    @Html.DisplayFor(model => item.Content)
                </small>
                <div class="action d-flex mt-2 align-items-center ms-auto">
                    <small>2 days ago</small>
                </div>
                <div class="ms-auto"> 
                    <small class="del text-danger me-3" style="cursor:pointer" data-id="@item.Id" data-office="@Model.office.Id">Xoá</small> 
                </div>
            </div>
        </div>
    }
}
else 
{
    <h5 class="text-center text-muted">Hiện tại chưa có đánh giá nào.</h5>
}
