@model ErrorViewModel
@{
    ViewData["Title"] = "Xảy ra sự cố";
}

<h2 class="text-danger text-center pt-5">Đã xảy ra sự cố khi tải trang này.</h2>

@* @if(Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
} *@
