@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>Website Đánh Giá Nội Bộ VNPT</p>
<ul>
    <li>Add me on Discord (gnoul_#9621)</li>
    <li>Tel: <span style="font-style: italic;">(+84) 913245842</span></li>
    <li>Email: <span style="font-style: italic;">ttluong4869@gmail.com</span></li>
    <li>Facebook: <a href="https://www.facebook.com/luong4869" target="_blank"><span style="font-style: italic;">www.facebook.com/luong4869</span></a></li>
</ul>         
