@{
    ViewData["Title"] = "Liên hệ";
}
<div class="d-flex justify-content-center">
    <div class="flex-column lead">
        <div class="text-center pt-5">
            <h1 class="text-primary pb-3">@ViewData["Title"]</h1>
            <h5>VNPT Review - Website Đánh Giá Nội Bộ VNPT</h5>
            <h6>Made by gnoul_</h6>
        </div>
        <ul>
            <li>Add me on <a href="https://discord.com/invite/PeS7fRYfde" target="_blank"><span style="font-style: italic;">Discord</span></a></li></li>
            <li>Tel: <span style="font-style: italic;">(+84) 913245842</span></li>
            <li>Email: <span style="font-style: italic;">ttluong4869@gmail.com</span></li>
            <li>Facebook: <a href="https://www.facebook.com/luong4869" target="_blank"><span style="font-style: italic;">www.facebook.com/luong4869</span></a></li>
        </ul>         
    </div>
</div>

