@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>VNPT Review - Website Đánh Giá Nội Bộ VNPT</p>
    <p>Hãy đăng ký tài khoản tại <a href="https://docs.microsoft.com/aspnet/core">đây</a>.</p>
</div>
