@{
    ViewData["Title"] = "Trang chủ";
}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/images/vnpt.png" asp-append-version="true" class="d-block mx-lg-auto img-fluid" alt="VNPT" width="700" height="500" loading="eager">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3" style="color:#1b6ec2">VNPT Review</h1>
        <p class="col-lg-20 fs-5">Website đánh giá nội bộ phòng ban VNPT.</p>
        </div>
      </div>
    </div>
  </div>