@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email";
}

<h1>@ViewData["Title"]</h1>
<p>Đã xác nhận tài khoản thành công. Bạn có thể đăng nhập vào tài khoản của mình bằng cách nhấn vào <a asp-area="Identity" asp-page="/Account/Login">đây</a>.</p>